.wrap {
  margin: 8%;
  background-color: #000000;
  padding: 1%;
  border-radius: 10px;
}

.title {
  border-radius: 10px;
  background-color: #ef5450;
  padding: 1%;
}

.content{
  margin-top: 1%;
  border-radius: 10px;
  background-color: #ef5450;
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
}

.navigation{
  margin-top: 1%;
  border-radius: 10px;
  background-color: #ef5450;
  padding: 1%;
  text-align: center;
}
