.wrap {
  margin: 8%;
  background-color: #000000;
  padding: 1%;
  border-radius: 10px;
}

.title {
  border-radius: 10px;
  background-color: #ef5450;
  padding: 2%;
}

.content{
  margin-top: 1%;
  border-radius: 10px;
  background-color: #ef5450;
  padding: 2%;
}

.comments{
  margin-top: 1%;
  border-radius: 10px;
  background-color: #ef5450;
  padding: 5%;
}

.navigation{
  margin-top: 1%;
  border-radius: 10px;
  background-color: #ef5450;
  padding: 1%;
  text-align: center;
}
